	html
	{
		position: relative;

   		 min-height: 100%;

    	margin: 0;
	}
	
	{
 	 margin: 0;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background:#FFF;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #4E4D4D;
		min-height: 100%;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		text-decoration: none;
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	b
	{
		text-align: center;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	
/**************** ********* header.jsp CSS ********** ****************************/	
	
/*********************************************************************************/
/* login / join Icon Styles    o                                                        */
/*********************************************************************************/
	ul.member
	{
		overflow:  hidden;
		margin: 0em 0 0em 0;
		text-align: right;
		padding-right: 15.5em;
	}
	
	ul.member li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.member li span
	{
		margin: 0;
		padding: 0;
		color: #2E2E2E;
		font-weight: bold;
	}
	
	ul.member li a
	{
		color: #FFF;
	}
	
	ul.member li a:before
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 2em;
		color: #2E2E2E;
	}
	
/*********************************************************************************/
/* Social Icon Styles    o                                                        */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 0em 0;
		text-align: right;
		padding-right: 4em;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 2em;
		color: #2E2E2E;
	}
/*********************************************************************************/
/* Button                      o                                           */
/*********************************************************************************/
	.bnt_search
	{
		border-radius: 5px;
		background-color: #81BEF7;
		color: white;
		font-weight: bold;
		padding: 2px 10px 2px 10px;
	}
		
/*********************************************************************************/
/* Header                                o                                        */
/*********************************************************************************/

	#header
	{
		background: #2A70E8;
	}

/*********************************************************************************/
/* Logo                         o                                                  */
/*********************************************************************************/

	#logo
	{
		padding: 2em 0em 1em 0em;
		background: #FFF;
		text-transform: uppercase;
	}

	#logo h1
	{
		text-align: left;
		padding-left: 3em;
		font-weight: 900;
		font-size: 2.5em;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #2A70E8;
	}


/*********************************************************************************/
/* Menu                                  o                                        */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 18px 0px 18px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 0.5em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}
	
	#menu ul li .sub_menu
	{
		background: #2A70E8;
		position: absolute;
		top: 240px;
		box-sizing: border-box;
		z-index: 100;
		width: 190px;
		opacity: 0;
		visibility: hidden;
	}
	
	#menu ul li:hover .sub_menu
	{
		opacity:1;
		visibility:visible;
	}
	
	#menu ul li:hover .sub_menu ul li:hover a
	{
		background-color: #81BEF7;
		border-radius: 30px; 
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Content                  o                                                     */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 588px;
		text-align: center;
	}
	
	#content .title
	{
		padding: 1em 2em 2em 2em;
		text-align: center;
	}
	
	#content h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}
	
	
/**************** ********* side_menu CSS ********** ****************************/	
/*********************************************************************************/
/* side_menu                                                          */
/*********************************************************************************/	

	#side_menu
	{
		width: 15.45%;
		background-color: #FFF;
		float: left;
		position: absolute;
	}
	
	h4
	{
		margin-top: 70px;
		background-color: #81BEF7;
		border-radius: 8px;
	}
	
	h4 a
	{
		display: block;
		padding: 10px 0 10px 0;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1.5em;
		font-weight: 700;
		color: #FFF;
		text-align: center;
	}

/*********************************************************************************/
/* side_submenu                                                          */
/*********************************************************************************/		
	#side_div 
	{
		float: center;
		padding: 5px 50px ;
	}
	
	#side_submenu li
	{
		font-size: 1em;
		text-decoration: none;
		margin: 0px 0px 6px 0px;
	}
	
	#side_submenu li a
	{
		text-decoration: none;	
	}




	
/**************** ********* footer.jsp CSS ********** ****************************/	
/*********************************************************************************/
/* Footer                                                           */
/*********************************************************************************/

	#footer
	{
		background-color: #F2F2F2;
		height: 200px;
    	bottom:0;
    	width: 100%;
    	position: absolute;
    	left: 0;
    	bottom: 0;

	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 1em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
		margin: 0px 0px 6px 0px;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}
/*********************************************************************************/
/* Foot_sns                                                                     */
/*********************************************************************************/
	
	ul.foot_sns
	{
		overflow:  hidden;
		margin: 0em 0 0em 0;
		text-align: center;
	}
	
	ul.foot_sns li
	{
		display: inline-block;
		padding: 1em 1em 0em 1em;
		font-size: 3em;
	}
	
	ul.foot_sns li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.foot_sns li a
	{
		color: #FFF;
	}
	
	ul.foot_sns li a:before
	{
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 2em;
		color: #81BEF7;
	}


